<template>
<div><h1>Authenticating...</h1></div>
</template>

<script lang="ts">
import Vue from 'vue';
import api from '../api';

export default Vue.extend({
  name: 'Auth',
  created() {
    this.storeToken();
  },
  methods: {
    /**
     * Gets the token information from the url that is currently visited.
     * This assumes we reached this Auth View as part of the OAuth authentication
     * cycle.
     * If the state is the same as the one in the storage we proceed to verify the token.
     */
    storeToken() {
      // Remove the token, we will refresh it immediately.
      localStorage.removeItem('token');

      // Get the new token via the implicit grant flow (its given via the redirect URL).
      const token = this.getValueFromURL('access_token');
      const secret = this.getValueFromURL('state');

      /* If the secret is the same the token is verified, otherwise the user is
       * redirected to the log in page */
      if (secret === localStorage.getItem('secret-state')) {
        localStorage.setItem('token', token || '');
        localStorage.removeItem('secret-state');
        this.verifyAuth();
      } else {
        localStorage.removeItem('secret-state');
        this.$router.push('/login');
      }
    },
    /**
     * Verifies if the token is valid
     */
    async verifyAuth() {
      const token = localStorage.getItem('token');

      // Check if the authorization code is valid by brute-force checking if a 200 is returned
      const authTokenValid = await api.verifyAuthToken(token || '');

      if (authTokenValid) {
        // Dispatch user-logged-in event to render log out button
        window.dispatchEvent(new CustomEvent('user-logged-in'));

        await this.$router.push('/');
      } else {
        localStorage.removeItem('token');
        await this.$router.push('/login');
      }
    },
    /**
     * Returns the value belonging to the key in the current route hash. If the key
     * is not found, then this function returns an empty string.
     *
     * @param key the key for which we want to get the corresponding value
     */
    getValueFromURL(key: string) {
      // The additional URL data of the URL of the current page.
      let dataString = this.$route.hash;

      // The URL generally starts with a pound symbol, which we strip.
      if (dataString.startsWith('#')) {
        dataString = dataString.substr(1);
      }

      if (dataString.length === 0) {
        return '';
      }

      // Search for, and return, the value for the key. If not found, returns empty string
      const dataList = dataString.split('&');
      const value = dataList.find((d) => d.startsWith(key)) || '';
      return value.split('=')[1];
    },
  },
});
</script>
