<template>
  <v-container fill-height fluid>
    <v-row class="text-center">
      <v-col cols="12">
        <v-img
          :src="require('../assets/logo-gitlab.png')"
          class="my-3"
          contain
          height="200"
        />
      </v-col>

      <v-col class="mb-4">
        <v-btn v-on:click="authenticate()">Login with GitLab</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import api from '../api';

export default Vue.extend({
  name: 'Login',
  methods: {
    /**
     * Starts the OAuth authentication process. This redirects the user to the
     * GitLab OAuth uri, using a randomly generated state, which redirects the
     * user back with the required token.
     */
    async authenticate() {
      const secret = Array(2).fill(null).map(() => Math.random().toString(36).substr(2)).join('');

      localStorage.setItem('secret-state', secret);
      api.requestAuthRedirect(secret);
    },
  },
});
</script>
