<template>
  <v-card max-width="1000px" class="mx-auto my-5">
    <v-breadcrumbs :items="items"/>
    <v-card-title>
      Repository "{{ this.repoSettings.name }}" Settings
    </v-card-title>
    <SettingsPage
      v-if="load"
      v-bind:settings="repoSettings"
      v-bind:id="id"
    />
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import SettingsPage from '@/components/SettingsPage.vue';
import api from '../api';

export default Vue.extend({
  name: 'RepoSettings',

  /**
   * Register the props.
   */
  props: {
    id: String, // id of the repository
  },

  /**
   * Register the components.
   */
  components: {
    SettingsPage,
  },

  /**
   * Define all variables and data needed.
   */
  data() {
    return {
      load: false,
      repoSettings: { name: 'Loading' },
      items: [
        {
          text: 'Repositories',
          disabled: false,
          href: '/',
        },
        {
          text: `Repository ${this.id}`,
          disabled: true,
          href: `/settings/${this.id}`,
        },
      ],
    };
  },

  /**
   * When the page is created, fetch the available metrics and settings.
   */
  created() {
    this.fetchRepoSettings();
  },

  /**
   * Define all the needed methods.
   */
  methods: {
    /**
     * Returns and sets the settings for a repository.
     */
    async fetchRepoSettings() {
      const res = await api.getRepositorySettings(+this.id);

      this.repoSettings = res.data;
      this.items[1].text = `Repository ${res.data.name}`;
      this.load = true;
    },
  },
});
</script>
