<template>
  <v-card max-width="1000px" class="mx-auto my-5">
    <v-breadcrumbs :items="items"/>
    <v-card-title>
      Repositories

      <v-spacer/>

      <div id="selector">
        <v-select
          v-model="itemsPage"
          :items="perPage"
          label="Items per page"
        />
      </div>
    </v-card-title>
    <RepoList v-bind:repositories="repositories"/>
    <v-pagination
      v-model="page"
      :length="pages"
      total-visible="5"
    />
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import RepoList from '../components/RepoList.vue';
import api from '../api';

export default Vue.extend({
  name: 'Repositories',

  components: {
    RepoList,
  },

  data() {
    return {
      repositories: [],
      page: 1,
      pages: 1,
      itemsPage: 10,
      perPage: [10, 25, 50],
      items: [
        {
          text: 'Repositories',
          disabled: true,
          href: '/',
        },
      ],
    };
  },

  created() {
    // when the page is created, fetch the list of repositories
    this.fetchRepositories(this.page, this.itemsPage, false);
  },

  watch: {
    page() {
      this.fetchRepositories(this.page, this.itemsPage, false);
    },
    itemsPage() {
      this.fetchRepositories(this.page, this.itemsPage, false);
    },
  },

  methods: {
    /**
     * Fetches and sets the repositories.
     *
     * @param page       The number of the page.
     * @param size       The size of the page.
     * @param autoFill   If to use the autofill function of the backend.
     */
    async fetchRepositories(page: number, size: number, autoFill: boolean) {
      const list = await api.getRepositories(page - 1, size, autoFill);

      this.pages = Number(list.headers['x-total-pages']);
      this.repositories = list.data;
    },
  },
});
</script>

<style scoped>
#selector {
  width: 200px;
}
</style>
