<template>
  <v-card max-width="1000px" class="mx-auto mt-5">
    <v-breadcrumbs :items="items"/>
    <v-card-title>
      Default Settings
    </v-card-title>
    <div class="Settings">
      <SettingsPage v-if="load" v-bind:settings="defaultSettings"/>
    </div>
  </v-card>
</template>

<script lang="ts">
import SettingsPage from '@/components/SettingsPage.vue';
import Vue from 'vue';
import api from '@/api';

export default Vue.extend({
  name: 'Settings',

  /**
   * Register the components.
   */
  components: {
    SettingsPage,
  },

  /**
   * Define all variables and data needed.
   */
  data() {
    return {
      load: false,
      defaultSettings: {},
      items: [
        {
          text: 'Repositories',
          disabled: false,
          href: '/',
        },
        {
          text: 'Default Settings',
          disabled: true,
          href: '/settings',
        },
      ],
    };
  },

  /**
   * When the page is created, fetch the available metrics and settings.
   */
  created() {
    this.fetchDefaultSettings();
  },

  /**
   * Define all the needed methods.
   */
  methods: {
    /**
     * Returns and sets the default settings.
     */
    async fetchDefaultSettings() {
      const res = await api.getDefaultSettings();

      this.defaultSettings = res.data;
      this.load = true;
    },
  },
});
</script>
