<template>
  <v-card-text>
    <div class="title text--primary">
      General Settings
    </div>
    <v-form ref="general" v-model="valid">
    <v-list-item-group>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title disabled="true">Automatic Review on Merge Request</v-list-item-title>
        </v-list-item-content>
        <v-list-item-action>
          <v-switch v-model="value.automatic_review_on_new_mr"/>
        </v-list-item-action>
      </v-list-item>

      <v-list-item>
        <v-list-item-content>
          <v-list-item-title disabled="true">False Positive Threshold</v-list-item-title>
        </v-list-item-content>
        <v-list-item-content>
          <v-text-field
            v-model.number="value.false_positive_threshold"
            single-line
            label="Threshold"
            :rules="[numberRule, requiredRule]"
          />
        </v-list-item-content>
      </v-list-item>
    </v-list-item-group>
    </v-form>
  </v-card-text>
</template>

<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'GeneralSettings',

  props: {
    value: Object,
  },

  data() {
    return {
      valid: true,
      /**
       * Validation rule to check if input is valid.
       *
       * @param v form input
       * @returns {string|boolean} 'true' if the input is valid or the error message
       */
      numberRule: (v) => {
        if (v >= 0 && v <= 999) return true;
        return 'Input has to be a number between 0 and 999';
      },
      requiredRule: (v) => !!v || 'Cannot be blank',
    };
  },

  watch: {
    /**
     * Watcher to inform parent component if the input is valid.
     */
    valid() {
      this.$emit('general-valid-change');
    },
  },
});
</script>
