<!-- HTML template for the hello world component -->
<template>
  <v-container>
    <!-- Say hello to the world -->
    <h1>We say {{message}}</h1>
  </v-container>
</template>

<!-- set the language to typescript and import Vue -->
<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'HelloWorld',

  // Exporting all data
  data: () => ({
    // Content of our message
    message: 'Hello world!',
  }),
});
</script>
