<template>
  <v-card-text>
    <div class="title text--primary">
      Metrics Settings
    </div>
    <v-form ref="metrics" v-model="valid">
    <v-list-item v-for="item in value" :key="item.id">
      <v-list-item-content>
        <v-list-item-title v-text="item.name"></v-list-item-title>
      </v-list-item-content>

      <v-spacer/>

      <v-list-item-content>
        <v-text-field
          v-model.number="item.threshold"
          :rules="[numberRule, requiredRule]"
          label="Threshold"
        />
      </v-list-item-content>
    </v-list-item>
    </v-form>
  </v-card-text>
</template>

<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'MetricSettings',

  props: {
    value: Array,
  },

  data() {
    return {
      valid: true,
      /**
       * Validation rule to check if input is valid.
       *
       * @param v form input
       * @returns {string|boolean} 'true' if the input is valid or the error message
       */
      numberRule: (v) => {
        if (v >= 0 && v <= 999) return true;
        return 'Input has to be a number between 0 and 999';
      },
      requiredRule: ((v) => !!v || v === 0) || 'Cannot be blank',
    };
  },

  watch: {
    /**
     * Watcher to inform parent component if the input is valid.
     */
    valid() {
      this.$emit('metric-valid-change');
    },
  },
});
</script>
