<template>
  <v-app-bar app>
      <v-img
        :src="require('@/assets/logo.png')"
        alt="logo"
        max-height="40px"
        max-width="100px"
        class="mx-3"
        contain
      />
    <v-toolbar-title @click="$router.push('/')" id="Robolink" >
      <span class="display-1">ROBORisk</span>
    </v-toolbar-title>
    <v-spacer/>
    <v-switch inset
              class="mt-5"
              v-model="$vuetify.theme.dark"
              @change="updateTheme"
              :label="$vuetify.theme.isDark ? `Dark` : `Light` "/>
    <v-btn text class="text-none" v-if="loggedIn" @click="goToDefaultSettings">
      Default Settings
      <v-icon right>mdi-cog</v-icon>
    </v-btn>
    <v-btn text class="text-none" v-if="loggedIn" @click="logout">
      Log Out
      <v-icon right>mdi-logout</v-icon>
    </v-btn>
  </v-app-bar>
</template>

<script lang="ts">
import Vue from 'vue';
import axios from 'axios';

export default Vue.extend({
  name: 'NavBar',

  data: () => ({
    loggedIn: false,
  }),

  created() {
    this.loggedIn = this.checkLoggedIn();
  },

  mounted() {
    /**
     * Here we listen for the even 'user-logged-in' and render
     * the log out button when it happens.
     */
    window.addEventListener('user-logged-in', () => {
      this.loggedIn = true;
    });
    window.addEventListener('user-logged-out', () => {
      this.loggedIn = false;
    });
  },

  beforeDestroy() {
    window.removeEventListener('user-logged-in', () => {
      this.loggedIn = true;
    });
    window.removeEventListener('user-logged-out', () => {
      this.loggedIn = false;
    });
  },

  methods: {
    /**
     * On log out we remove the token and the button and redirect
     * back to the log in page.
     */
    logout() {
      localStorage.removeItem('token');
      delete axios.defaults.headers.Authorization;
      this.loggedIn = false;
      this.$router.push('/login');
    },
    /**
     * This is to check if the user is logged in already when he
     * accesses the page.
     */
    checkLoggedIn(): boolean {
      return Boolean(localStorage.getItem('token'));
    },
    goToDefaultSettings() {
      this.$router.push('/settings');
    },
    /**
     * Caches the theme.
     *
     * @param value If the theme is dark or not.
     */
    updateTheme(value: boolean) {
      localStorage.setItem('dark', String(value));
    },
  },
});
</script>

<style scoped>
  #Robolink {
    cursor: pointer;
  }
</style>
