<template>
  <v-list>
    <v-list-item-group>
      <!-- TODO: maybe create a Repo component -->
      <v-list-item v-for="repo in repositories" :key="repo.id">
        <v-list-item-content>
          <v-list-item-title v-text="repo.namespace + ' / ' + repo.name"></v-list-item-title>
        </v-list-item-content>
        <v-list-item-action>
          <!-- Settings button for navigation -->
          <v-btn icon @click="goToSettings(repo.id)">
            <v-icon>mdi-cog</v-icon>
          </v-btn>
        </v-list-item-action>
      </v-list-item>
    </v-list-item-group>
  </v-list>
</template>

<!-- set the language to typescript and import Vue -->
<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'RepoList',

  props: {
    repositories: Array,
  },

  methods: {
    /**
     * Navigates to the settings page of a certain repo.
     *
     * @param id the id of the repository
     */
    goToSettings(id: number) {
      this.$router.push(`/settings/${id}`);
    },
  },
});
</script>
