<template>
  <div>
    <GeneralSettings v-model="settings.settings"
                     v-on:general-valid-change="generalValid = !generalValid"/>

    <MetricSettings v-model="settings.code_metrics"
                    v-on:metric-valid-change="metricValid = !metricValid"/>

    <v-card-text>
      <v-btn color="primary" class="text-none" @click="dialog = !dialog"
             :disabled="!valid">
        Save Settings
      </v-btn>
    </v-card-text>

    <v-dialog
      v-model="dialog"
      max-width="500">
      <v-card>
        <v-card-title class="headline">Confirm submission</v-card-title>

        <v-card-text>
          Are you sure you want to submit these changes?
        </v-card-text>

        <v-card-actions>
          <v-spacer/>

          <v-btn
            color="#30ad4d"
            text
            @click="saveSettings">
            Confirm
          </v-btn>

          <v-btn
            color="#7d7b8c"
            text
            @click="dialog = false">
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import api from '@/api';
import GeneralSettings from './GeneralSettings.vue';
import MetricSettings from './MetricSettings.vue';

export default Vue.extend({
  name: 'Settings',

  components: {
    GeneralSettings,
    MetricSettings,
  },

  props: {
    id: {
      type: String,
      default: '',
    },
    settings: Object,
  },

  data: () => ({
    dialog: false,
    valid: true,
    generalValid: true,
    metricValid: true,
  }),

  methods: {
    /**
     * Saves the settings by sending them to the back-end through
     * a patch request. If the id is not set it means that these are
     * the default settings.
     */
    async saveSettings() {
      this.dialog = false;
      if (this.id) {
        await api.putRepositorySettings(+this.id, this.settings);
      } else {
        await api.putDefaultSettings(this.settings);
      }
    },
  },

  watch: {
    /**
     * If one of the forms is invalid disable the button.
     */
    generalValid() {
      this.valid = this.generalValid && this.metricValid;
    },
    metricValid() {
      this.valid = this.generalValid && this.metricValid;
    },
  },
});
</script>
