<template>
  <v-app>
    <NavBar/>
    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import NavBar from '@/components/NavBar.vue';

export default Vue.extend({
  name: 'App',

  /**
   * Register the components.
   */
  components: {
    NavBar,
  },

  /**
   * On creation set the theme to the preferred setting.
   */
  created() {
    this.$vuetify.theme.dark = localStorage.getItem('dark') ? localStorage.getItem('dark') === 'true' : true;
  },
});
</script>
